body {
  font-family: Helvetica,;
}

.welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 5px solid rgb(134, 51, 116);
  background-color: rgb(208, 214, 200); 
  padding: 40px;
  width: 900px;
  height: 100px;
}
.intro {
  text-align: center;
}

.images-container {
  display: flex;
  justify-content: center;
}

.images-container img {
  margin-left: 5px;
  margin-right: 5px;
}

.box1 {
  display:inline-block;
  border: 5px solid rgb(134, 51, 116);
  background-color: rgb(208, 214, 200); 
  padding: 40px;
  margin: 50px;
  width: 250px;
  height: 250px;
}

.mycolor {
  color: rgb(92, 146, 92);
}

.box2 {
  display:inline-block;
  border: 5px solid rgb(134, 51, 116);
  background-color: rgb(208, 214, 200);
  padding: 40px;
  margin: 40px;
  width: 250px;
  height: 250px;
}

.box3 {
  display:inline-block;
  border: 5px solid rgb(134, 51, 116);
  background-color: rgb(208, 214, 200);
  padding: 40px;
  margin: 40px;
  width: 250px;
  height: 250px;
}

.blade {
  color: rgb(134, 51, 116)
}

.outrobox {
  text-align: center;
  list-style-position: inside;
  border: 5px solid rgb(134, 51, 116);
  background-color: rgb(208, 214, 200);
  padding: 40px;
  margin: 40px;
  width: 1250px;
  height: 250px;
}